# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# AUR build products
aur/*/src/
aur/*/pkg/
aur/*/*.tar.gz
aur/*/*.tar.xz

# Environments
pyenv/
pyenv.bak/

# tests
.tox/
.coverage

# custom files
test.py
pyenv/
pyenv27/

.idea/
.python-version
